/* CSS Document */

/*
Couleurs :
- Bleu très foncé : #0066CC;
- Bleu foncé : #98CBE6
- Bleu moyen : #AFE2FD
- Bleu clair : #CCEDFF
- Bleu très clair : #DEEDF5
- Violet foncé : #760473
- Violet moyen : #B863B4
- Violet clair : #F9D3FA
- Violet très clair : #FEE7FF
- Orange foncé : #FFCA00
- Orange très clair : #FFFEB8
- Gris très clair : #F0F0F0
- Gris clair : #DBDBDB
- Gris foncé : #999999
*/
/* Masquer les logs SQL */
#cakeSqlLog {
/*	display:visible; */
}
/* Comportements communs (balises)*/

html {
	overflow-y: scroll;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

form {
	margin: 0;
	padding: 0;
}

img {
	margin: 0;
	padding: 0;
	border: none;
}

input {
    font-size: 11px;
}

.clear {
	clear:both;
}

.fleft {
	float:left;
}

.fright {
	float: right;
}

/* Forms (from cake.generic.css) */
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 80%;
}
fieldset {
	border: 1px solid #ccc;
	margin-top: 30px;
	padding: 16px 20px;
}
fieldset legend {
	background:#fff;
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form div.input {
	color: #444;
}
form div.required {
	color: #333;
	font-weight: bold;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
	margin-left: 140px;
}
label {
	display: block;
	font-size: 110%;
	padding-right: 20px;
}
input, textarea {
	clear: both;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 2px;
	width: 100%;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	padding: 2px 5px;
	width: auto;
	vertical-align: bottom;
}

/* Notices and Errors */
div.message {
	clear: both;
	color: #900;
	font-size: 140%;
	font-weight: bold;
	margin: 1em 0;
}
div.error-message {
	clear: both;
	color: #900;
	font-weight: bold;
}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background: green;
	color: #fff;
}

/* Formatage par défaut des balises de texte */
h1 {
    font-size: 18px;
    padding: 0 4px ;
    border: 2px solid #98CBE6;
	background: url('/img/background_h1.gif') top repeat-x;
    margin: 0 0 5px 0;
}

h2 {
	font-size: 14px;
	margin: 0;
}

h3 {
	font-size: 13px;
	margin: 0 0 3px 0;
}

/* Conteneur de la page (permet de centrer) */
#externe {
	margin: 0;
	padding: 0;
	width: 100%;
	background: url('/img/background.gif') repeat-x;
	background-position: 0 152px;
}

/* Classe à appliquer à tous les éléments de la largeur du site */
.main_width {
	margin-left: auto;
	margin-right: auto;
	width: 780px;
}

/* Contenu de la page */
#page {
	text-align: left;
}

/*** Entete ***/
#loginbar {
	background-color: #DBDBDB;
	border-bottom: medium solid #999999;
	display: block;
	text-align: right;
	padding: 2px;
	height: 20px;
}
#search {
	float: left;
	vertical-align: middle;
}

/* Bannière */

#header {
	margin: 0;
	height: 152px;
	background: url('/img/header_background.gif') top repeat-x;
	width: 100%;
	text-align: center;
}

#headerbar {
	padding: 0;
}


#module_content {

}

#module_content #menu {
	float: left;
	width: 20%;
}

#module_content #menu ul {
	margin: 3px 0 0 0;
	padding: 0;
}

#module_content #menu ul li {
	margin: 0 ;
	padding: 3px 2px ;
	border-bottom: 1px solid #F9D3FA;
}

#module_content #menu ul li a {
	text-decoration: none;
	color: black;
}

#module_content #menu ul li.menu_title {
	text-align:center;
	font-weight: bold;
	background-color: #F9D3FA;
	border: 1px solid #B863B4;
}

#module_content #menu ul li.item:hover {
	background-color: #FEE7FF;
}

#module_content #content {
	float: right ;
	width: 78%;
}	

#footer {
	clear: both;
	text-align: center;
	background-color: #DBDBDB;
	margin-top: 12px;
	padding: 3px;
	border-top: 3px solid #999999;
	border-bottom: 1px solid #999999;
}

#partners {
	text-align: center;
	font-size: 11px;
}

/****** Gestion du menu ******/

#menubar {
	padding: 0;
	margin: 0 auto 8px auto;
}

/*1st level elements*/
#menubar ul
{
	margin: 0;
	padding: 0;
	height: 35px;
	list-style:none;
}

#menubar li {
	background: transparent url('/img/menu_green_left_slide.gif') bottom left no-repeat;
	display: block;
	height: 100%;
	float: left;
	cursor: pointer;
	margin: 0;
	margin-right: 2px;
	padding: 0;
}

#menubar li.last {
	border-right: 0;
}

/*
#menubar li.submenu:hover {
	background: url('/img/hover-grey.gif') bottom center no-repeat;
}

#menubar li#main_active.submenu {
	background: url('/img/hover.gif') bottom center no-repeat;
	
}

#menubar li#main_active.submenu.clicked {
	background: url('/img/hover.gif') bottom center no-repeat;
}

#menubar li.submenu.clicked {
	background: url('/img/hover-grey.gif') bottom center no-repeat;
}
*/

#menubar li.clicked, #menubar li.main_active {
	background: transparent url('/img/menu_orange_left_slide.gif') bottom left no-repeat;
}
#menubar li.clicked a, #menubar li.main_active a {
	background: transparent url('/img/menu_orange_right.gif') bottom right no-repeat;
}
/* 1st level text */
#menubar li a, #menubar li span {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	background: transparent url('/img/menu_green_right.gif') bottom right no-repeat;
	height: 100%;
	text-decoration: none;
	font-size: 1.3em;
	color: #555;
	height: 100%;
	line-height: 30px;
	margin: 0;
	padding: 0 1em;
	display: block;
}

#menubar li a:hover {
	color: #000;
}


/* 2nd level elements */

#submenubar {
	padding: 0;
	margin: 1px auto 6em auto;
}

#submenubar ul
{
	padding: 0;
	margin: 0;
	float: left;
	clear: both;
	background: none;
	font-weight: normal;
	list-style:none;
	display: none;
}

#submenubar ul.visible {
}

#submenubar li {
	margin: 0 10px 4px 0;
	float: left;
	padding: 0;
}

#submenubar li a {
	background: none;
	border: 1px solid #ff9000;
	font-size: 1.3em;
	display: block;
	margin: 0;
	padding: 0 10px 0 10px;
	text-align: center;
	line-height: 1.8em;
	text-decoration: none;
	height: 100%;
	color: #555;
}

#submenubar li a:hover, #submenubar li a:active {
	color: #0066CC;

	border: 1px solid #98CBE6;
	background-color: #DEEDF5;
}

#submenubar li.subitem_active a {
	border: 1px solid #ff9000;
	color: #0066CC;
}


/****** Barre de boutons ******/
/*** Propriétés générales communes ***/

/* Inutilisé à priori ?
.buttons_bar {
	margin: 0;
	padding: 0;
}
.buttons_bar li {
	display: inline;
}	
.buttons_bar input {
	border: none;
	background-color: transparent;
}
.buttons_bar li input {
	background-repeat: no-repeat;
	background-position: center right;
	margin: 0 0 0 2px;
	padding: 0 3px 0 0;
	height: 20px;
}
.buttons_bar li {
	background-repeat: no-repeat;
	background-position: center left;
	padding: 0;
	height: 20px;
}

*/

/*** Propriétés spécifiques ***/
/* Valider */

/* Idem 
.buttons_bar .validate {
	background-image: url("/img/buttons/validate_left.gif");
}

.buttons_bar .validate input {
	background-image: url("/img/buttons/validate_right.gif");
	font-size: 10px;
	font-weight: bold;
}
*/
/* Annuler */
/* Idem
.buttons_bar .cancel {
	background-image: url("/img/buttons/cancel_left.gif");
}

.buttons_bar .cancel input {
	background-image: url("/img/buttons/cancel_right.gif");
	font-size: 10px;
}
*/
/*** Datagrid ***/
/* Idem
.datagrid {
	width: 100%;
}

.datagrid th {
	border:none;
	border-bottom: solid 1px #999999;
}

.datagrid td {
	margin: 0;
	border:none;
	border-bottom: solid 1px #DBDBDB;
}
*/

/*** Contenu du module ***/
#module_content {
}

/*** Modèles de pages ***/
/* Deux colonnes */
.two_columns #left_zone {
	float: left;
	padding: 0;
	margin: 0;
}

.two_columns #right_zone {
	float: right;
	padding: 0;
	margin: 0;
}

.two_columns #bottom_zone {
	clear: both;
	width: 100%;
	padding: 0;
	margin: 0;
}

/*** Messages ***/
/* Messages de page */
.page_error {
	border-top: 1px solid #FF8080;
	border-bottom: 1px solid #FF8080;
	background-color: #FFDDDD ;
	text-align: center;
	font-weight: bold;
	padding: 2px 0 ;
}

.page_done {
	border-top: 1px solid #9FFC67;
	border-bottom: 1px solid #9FFC67;
	background-color: #DAFCC6 ;
	text-align: center;
	font-weight: bold;
	padding: 2px 0 ;
}

.page_information {
	background-color: #FFFFE8;
	border-top: 1px solid #FFFF80;
	border-bottom: 1px solid #FFFF80;
	text-align: center;i
	font-weight: bold;
	padding: 2px 0 ;
}

/* Messages de formulaire */
.error_message {
	color: #FF0000;
	font-weight: bold;
	margin: 2px 0 ;
}

.error_field {
	background-color:black;
}

/* Classes permettant de générer les barres de titre arrondies */
#baseline {
	margin: 5px ;
}

#baseline ul, #baseline li {
	display: inline ;
}
.mnp_nom_reseau {
	display: inline;
	margin: 0;
}
.mnp_liste_sites {
	display: inline;
	margin: 0;
	padding: 0;
}

.mnp_lien{
	display: inline ;
	margin: 0 3px 0 3px;
}

.error_msg {
	font-weight: bold;
}

span.partenaire_accueil {
	margin: 5px;
	padding: 5px;
	line-height: 30px;
 }
#errors,#ok {
	font-weight:bold;
}
#errors,#ok ul {
	list-style-type: none;
}
#errors ul li {
	color: #FF0000
}
#ok ul li {
	color: #009933;
}

/* Thumbnails (IrcubeHelper) */

div.thumbnail {
	position: relative;
	border: 1px solid #999;
	float: left;
	margin: 5px;
	text-align: center;
	background-color: #DDD;
}

/* How about FUCK IE hu ? */
div.thumbnail:hover {
	/*background-color: #EEE;*/
}

div.thumbnail span {
	display: table-cell;
	width: 160px;
	height: 160px;
	text-align: center;
	vertical-align: middle;
}

div.thumbnail img {
	vertical-align: middle;
}


/* setFlash() layouts */
.success_message
{
    background: #ccffcc;
    border: solid 1px #66cc33;
    padding: 8px;
	margin-bottom: 10px;
    color: #000;
    font-weight: bold;
}

#authMessage.message, .failure_message
{
    background: #ffcccc;
    border: solid 1px #cc3333;
    padding: 8px;
	margin-bottom: 10px;
    color: #000;
    font-weight: bold;
}
