#postactu {
	list-style-type: none;
}
#postactu li {
	clear: both;
	padding-bottom: 5px;
}
div.title {
	float: left;
	font-weight:bold;
	width: 200px;
}

/* Bloc news */
#news_bloc {
	clear:both;
}

#news_bloc .news_header {
	height: 4em;
}

#news_bloc .news_date {
	float: left;
	padding: 0;
	margin: 0;
	height: 100%;
}

#news_bloc .news_date_day {
	font-size: 2.8em;
	line-height: 1.427em;
	margin: 0;
	margin-left: 10px;
	padding:0;
	float: left;
	display: inline;
	color: #FEF6E2;
}

#news_bloc .news_date_my {
	margin-top: 0.55em;
	margin-left: 6px;
	font-size:1.3em;
	line-height: 1em;
	float: left;
	overflow: hidden;
	display: inline;
	padding: 0;
	color: #586B7A;
}

#news_bloc .news_title {
	float: left;
	margin: 0;
	padding: 0;
}

#news_bloc .news_title a {
	color: #333E47;
}

#news_bloc .news_title h2 {
	margin: 0;
	margin-left: 10px;
	font-family: Helvetica, Arial, sans-serif;
	padding: 0;
	font-size: 2em;
	line-height: 2em; /* Height / font-size */
}

#news_bloc .news_content {
	clear: both;
	font-size: 1.2em;
	padding : 10px 0 0 0;
	text-align: justify;
}

#news_bloc .news_author {
	margin: 10px 0 15px 0;
	text-align: right;
}

/* Gestion des couleurs */

/* Default */
#news_bloc .news_date {
	background-color: #FFCA00;
}
#news_bloc .news_header {
	background-color: #FFFEB8;
}
#news_bloc .info .news_header {
	background-color: #FFD582;
}
#news_bloc .info .news_date {
	background-color: #FF4A12;
}

#news_bloc .evenement .news_date {
	background-color: #ABC507;
}
#news_bloc .evenement .news_header {
	background-color: #CFE069;
}
#news_bloc .reseau .news_date {
	background-color: #74C6F1;
}
#news_bloc .reseau .news_header {
	background-color: #CCEBFF;
}
#news_bloc .unpublished .news_date {
	background-color: #ddd;
}
#news_bloc .unpublished .news_header {
	background-color: #ddd;
}