/* Pagination */

div.paging {
	padding: 0;
	margin: 10px 0 10px 0;
	text-align:left;
}

div.paging a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #586B7A;
	text-decoration: none; /* no underline */
	color: #586B7A;
}
div.paging a:hover, div.paging a:active {
	border: 1px solid #586B7A;
	background-color: #ABC507;
	color: #fff;
}
div.paging span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #ABC507;
	font-weight: bold;
	background-color: #ABC507;
	color: #FFF;
}
div.paging div.disabled {
	display: inline;
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #CCC;
	color: #CCC;
}
/* Filtering selectbox */

div.paging .pages {
	float: left;
}

div.paging .selectfilter {
	float: right;
}

