div#latestNews div.box {
	margin: 0;
	padding: 0;
	border: 1px solid #333E47;
	background: #E3F3FF;
}

div#latestNews h1 {
	padding: 6px 20px;
	margin: 0;
	background: #333E47;
	color: #FFF;
}

div#latestNews ul {
	list-style: none;
	margin: 15px;
}

div#latestNews h1 a {
	text-decoration: none;
	color: #fff;
}

div#latestNews h1 a:hover {
	text-decoration: underline;
	color: #94B3C5;
}

div#latestNews ul a {
	font-size: 1.2em;
}