div#chatform div.box, div#whatisircube div.box {
	height: 240px;
	margin: 0;
	padding: 0;
}

#chatform label, #chatform .label {
	font-weight: bold;
}

#chatform .multiField {
	width: 100%;
}

#chatform div.chans {
	clear: none;
	float: left;
	width: 150px;
	margin-left: 20px;
	margin-top: 6px;
}
